body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #0f172a;
  color: #e5e7eb;
}

header {
  background: #020617;
  padding: 30px 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 28px;
}

.card {
  max-width: 500px;
  margin: 20px auto;
  background: #020617;
  padding: 20px;
  border-radius: 10px;
}

.card h2, .card h3 {
  margin-top: 0;
}

.alerta {
  border: 2px solid #22c55e;
  margin-bottom: 15px;
  padding: 10px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
}

button {
  background: #22c55e;
  font-weight: bold;
}

button:hover {
  background: #16a34a;
}
